/*about*/

.about-top{
    display: flex;
    align-items: center;
    height: 90vh;
    background-color: rgb(100, 40, 40);
}
.about-title{
    padding: 20px;
    font-size: 50px;
    color: white;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
.about-info{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.about-info-top{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    text-align: center;
    line-height: 1.7;
}
.about-info-article{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    text-align: center;
    line-height: 1.7;
}
.about-valo-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
.valo-text-wrapper{
    width: 40%;
    line-height: 1.7;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    overflow: hidden;
    flex-basis: 100%;
    opacity: 0;
    transform: translate(0,0);
    transition: all 1.5s;
    transform: translate(-30px,0);
}
.valo-div-img{
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
    flex-basis: 100%;
    opacity: 0;
    transform: translate(0,0);
    transition: all 1.5s;
    transform: translate(-30px,0);
}

.about-ssbu-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}
.ssbu-text-wrapper{
    width: 40%;
    line-height: 1.7;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    overflow: hidden;
    flex-basis: 100%;
    opacity: 0;
    transform: translate(0,0);
    transition: all 1.5s;
    transform: translate(-30px,0);
}
.ssbu-div-img{
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
    flex-basis: 100%;
    opacity: 0;
    transform: translate(0,0);
    transition: all 1.5s;
    transform: translate(-30px,0);
}
.about-history{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.about-history-top{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    text-align: center;
    line-height: 1.7;
}
.about-history-article{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    text-align: center;
    line-height: 1.7;
}
