/*members*/

.members-top{
    display: flex;
    align-items: center;
    height: 90vh;
    background-color: rgb(80, 40, 100);
}
.members-title{
    padding: 20px;
    font-size: 50px;
    color: white;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
#members{
    padding: 20px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    text-align: center;
    line-height: 1.7;
}
.member-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
}
.member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
.member-link{
    color: black;
    text-decoration: none;
}
.member-link:hover{
    text-decoration: underline;
}
.member-icon{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.member-name{
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

/*member-page*/
.bannar-center{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: lightgray;
}
.bannar{
    width: 65%;
    border-radius: 10px;
}
.member-description{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.m-d-img{
    width: 30%;
    border-radius: 50%;
}
.m-d-txt{
    flex-wrap: wrap;
    padding: 20px;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    line-height: 1.7;
}
.sns-link-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    /*border*/
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(102, 199, 255);
}
.sns-link{
    width: 2.5em;
    vertical-align: top;
}

@media screen and (max-width: 480px) {
.member-area{
    padding: 20px;
}
.member{
    padding: 20px;
}

/*member-page*/

.bannar{
    width: 100%;
}
.member-description{
    flex-direction: column;
}
.m-d-img{
    width: 75%;
}
.m-d-txt p br{
    display: none;
}
.bannar-center{
    padding: 0px;
}
.bannar{
    width: 100%;
    border-radius: 0px;
}
}