/* PC用のCSSはメディアクエリの外に記述する */
/*main*/

.index-top{
    display: flex;
    align-items: center;
    height: 90vh;
    background-color: rgb(40, 100, 100);
}
.index-title{
    padding: 20px;
    font-size: 50px;
    color: white;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
.second-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    /*scrollin*/
    overflow: hidden;
    flex-basis: 100%;
    opacity: 0;
    transform: translate(0,0);
    transition: all 1.5s;
    transform: translate(-30px,0);
}
.text-wrapper{
    width: 40%;
}
.kamui{
    line-height: 1.7;
    color: rgb(40, 100, 100);
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
.apollo{
    line-height: 1.7;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
.ozma{
    width: 40%;
    border-radius: 10px;
}
.third-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    /*scrollin*/
    overflow: hidden;
    flex-basis: 100%;
    opacity: 0;
    transform: translate(0,0);
    transition: all 1.5s;
    transform: translate(-30px,0);
}
.third-summary{
    line-height: 1.7;
    color: rgb(40, 100, 100);
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
.buttons{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.a-button{
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    background-color: rgb(100, 40, 40);
}
.a-button:hover{
    background-color: rgb(100, 40, 40, 0.5);
}
.a-button h1,span{
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
.w-button{
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    background-color: rgb(80, 40, 100);
}
.w-button:hover{
    background-color: rgb(80, 40, 100, 0.5);
}
.w-button h1,span{
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
.c-button{
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    background-color: rgb(70, 100, 40);
}
.c-button:hover{
    background-color: rgb(70, 100, 40, 0.5);
}
.c-button h1,span{
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

/*tablet-setting*/

@media screen and (max-width: 959px) {
.second-area{
    padding: 0;
}
.text-wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 0;
    padding: 20px;
    font-size: 75%;
}
.text-wrapper::before{
    content: '';
    background-image: url('../images/ISC-001.jpg');
    position: absolute;
    top: -6px;
    bottom: -6px;
    left: -6px;
    right: -6px;
    filter: blur(6px);
    z-index: -1;
}
.ozma{
    display: none;
}
}

/*mobile-setting*/

@media screen and (max-width: 480px) {
.index-top{
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.second-area{
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
}
.text-wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: 0;
    padding: 20px;
    font-size: 75%;
}
.text-wrapper::before{
    content: '';
    background-image: url('../images/ISC-001.jpg');
    position: absolute;
    top: -6px;
    bottom: -6px;
    left: -6px;
    right: -6px;
    filter: blur(6px);
    z-index: -1;
}
.ozma{
    display: none;
}
.kamui{
    font-size: 1.6rem;
}
.apollo{
    font-size: 1rem;
    letter-spacing: 0;
}
.third-area{
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column;
}
.third-summary{
    padding: 20px;
}
.buttons{
    padding: 20px;
}
.a-button h1,span{
    font-size: 75%

.w-button h1,span{
    font-size: 75%
}
.c-button h1,span{
    font-size: 75%
}
}
